/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@700&family=Poppins:wght@100;400;600&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
}

/* header-text style */
#header-text {
    text-align: center;
}

.header-intro {
    line-height: 10px;
}

.reliable-text {
    font-weight: 400;
    font-size: 26px;
    color: rgb(114, 114, 114);
}

.power-text {
    font-weight: 600;
    font-size: 27px;
    color: rgb(44, 44, 44);
}

.header-paragraph {
    font-weight: 400;
    color: rgb(176, 176, 176);
    margin-bottom: 50px;
}

/* card-style */
.main-container {
    margin-bottom: 30px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.teambuilder-karma {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
}

.card {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 25px;
    border-radius: 10px;
}

img {
    margin-top: 20px;
    margin-left: 70%;
}

.card-body-text {
    color: rgba(133, 133, 133, 0.893);
}

#card-supervisor {
    border-image: linear-gradient(rgb(69, 211, 211), rgb(255, 255, 255));
    border-top: 5px solid;
    border-image-slice: 1;
}

#card-team-builder {
    border-image: linear-gradient(rgb(234, 83, 83), rgb(255, 255, 255));
    border-top: 5px solid;
    border-image-slice: 1;
}

#card-calculator {
    border-image: linear-gradient(rgb(84, 158, 242), rgb(255, 255, 255));
    border-top: 5px solid;
    border-image-slice: 1;
}

#card-karma {
    border-image: linear-gradient(rgb(252, 175, 74), rgb(255, 255, 255));
    border-top: 5px solid;
    border-image-slice: 1;
}